<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Kuriamas Naujas vairuotojas </h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/vair" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="vair[doc]" value="vairuot" hidden>
                    </div>
                    <div class="form-group">
                        <select style="width: 100%; height: 34px" name="vair[ipadkodas]" class="custom-select">
                     <option  selected>Pasirinkite Padlinį</option> 
                    <% pad.forEach(function(pad){ %>
                        <option><%= pad.padkodas %></option>
                        <!--<%console.log("data duomenys: " + pad)%>-->
                        <!--<%console.log("Pdalinio duomenys:  " + pad.padkodas)%>-->
                    <% }); %>
                </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="vair[vairkodas]" placeholder="Vairuotojo kodas">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="vair[vairVardPav]" placeholder="Vairuotojo vardas pavarde">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="vair[vairVard]" placeholder="Vairuotojo vardas">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="vair[vairPav]" placeholder="Vairuotojo pavarde">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Sukurti!</button>
                    </div>
                </form>
                <a href="/vair">Atgal i vairuotoju sarasa </a>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>