</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first -->
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--ajax.js file in public dir-->
<!-- <script src='js/ajax.js'></script> -->

<!-- Bootlint -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootlint/0.14.2/bootlint.min.js" integrity="sha384-SLfe/wBrCVfyGjtLhfUmA5cYQLnNVTRmwMUJ11s7x5HxXCKom2oeEwX9bvY74CAs" -->
<!-- crossorigin="anonymous"></script> -->

</body>

</html>