<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tKellAP</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css.old/bootstrap1.css"> -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="img/logo.png" alt="tkellap logo">
            <form action="/" class="search" placeholder="Search bar">
                <input type="text" class="search__input" id="" placeholder="Search kellap">
                <button class="search__button">
                    <svg class="search__icon">
                        <use xlink:href="img/sprite.svg#icon-search" </svg>
                </button>
            </form>
            <nav class="user_nav">
                <% if(!currentUser){ %>
                    <div class="user-nav__icon-box">
                        <a class="nav-link" href="/login">
                            <svg class="user-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-enter">
                            </svg>
                            Prisijungti</a>
                    </div>
                    <div class="user-nav__icon-box">
                        <a class="nav-link" href="/register">
                            <svg class="user-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-user-plus">
                            </svg>Registruotis</a>
                    </div>
                    <% } else { %>
                        <div class="user-nav__icon-box">
                            <svg class="user-nav__icon">
                                <use xlink:href="img/sprite.svg#icon-user2">
                            </svg>
                            <a class="nav-link">
                                <strong>
                                    <%= currentUser.username %>
                                </strong>
                            </a>
                        </div>
                        <div class="user-nav__icon-box">
                            <a href="/logout">Išeiti
                                <svg class="user-nav__icon">
                                    <use xlink:href="img/sprite.svg#icon-exit">
                                </svg>
                            </a>
                        </div>
                        <% } %>
            </nav>

            <!-- <div class="account">
                <li>
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Prisijungti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                                <i class="fa fa-user-plus"></i> Registruotis</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <strong>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <%= currentUser.username %>
                                    </strong>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Išeiti
                                </a>
                            </li>
                            <% } %>
                </li>
            </div> -->
        </header>
        <div class="content">
            <nav class="sidebar">Navigation
                <div>
                    <a href="#">Keliones lapai</a>
                </div>
                <div>
                    <a href="#">Transporto priemones</a>
                </div>
                <div>
                    <a href="#">Darbuotoju apskaita</a>
                </div>
                <div>
                    <a href="#">Pagrindiniai duomenys</a>
                </div>
            </nav>
            <main class="kellap-content">