:root {
  --f1-color: rgb(0, 126, 229);
  --f2-color: rgb(226, 231, 235);
  --f3-color: rgb(182, 186, 190);
  --f4-color: rgb(2, 7, 17);
  --f5-color: rgb(34, 148, 229);
  --f6-color: rgb(123, 137, 148);
  --f7-color: rgb(71, 82, 93);
  --f8-color: rgb(61, 70, 77);
  --f9-color: rgb(247, 249, 250);
  --d1-color: rgb(238, 237, 237);
  --d2-color: rgb(106, 124, 143);
  --d3-color: rgb(255, 255, 255);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--f8-color);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--8-color);
  // background-image: linear-gradient(to right bottom, var(--d1-color), var(--d2-color));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
