:root {
    --f1-color: #85715D;
    --f2-color: #B2906B;
    --f3-color: #CCAE8F;
    --f4-color: #FFDAB3;
    --f5-color: #ffe6cc;
    --f6-color: #FFDAB3;
    --f7-color: #599BB2;
    --f8-color: #B3EBFF;
    --f9-color: #bde5f3;
    --d1-color: #80674f;
    --d2-color: #694d3c;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: normal 62.5%;
    color: var(--d2-color);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--d2-color);
    background-image: linear-gradient(to right bottom, var(--f5-color), var(--f6-color));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}