// LOGIN
.login {
    height: 100%;
    margin-top: 3rem;
    font-size: 1.7rem;
    &__form {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-basis: 100%;
        &--legend {
            font-family: OpenSans;
            font-size: 2.5rem;
            display: flex;
            margin-left: 10rem;
            margin-bottom: 7rem;
        }
        &__icon {
            height: 3rem;
            width: 3rem;
            padding-right: 1rem;
            fill: var(--f1-color);
        }
        &--userform {
            margin-left: 30rem;
            margin-bottom: 5rem;
            display: flex;
            align-items: flex-start;
            &__label {
                display: flex;
                align-items: center;
                font-size: 1.7rem;
                padding: .7rem 2rem;
                width: 33rem;
            }
            &__input {
                font-size: 1.7rem;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                &--text {
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    border: none;
                    padding: .7rem 2rem;
                    border-radius: 100px;
                    width: 40%;
                }
                &--span {
                    padding: .7rem 2rem;
                    font-size: 1.4rem;
                    font-family: Quicksand;
                }
            }
        }
        &--pswform {
            margin-left: 30rem;
            margin-bottom: 5rem;
            display: flex;
            align-items: flex-start;
            &__label {
                display: flex;
                align-items: center;
                padding: .7rem 2rem;
                font-size: 1.7rem;
                width: 33rem;
            }
            &__input {
                font-size: 1.7rem;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                &--text {
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    border: none;
                    padding: .7rem 2rem;
                    border-radius: 100px;
                    width: 40%;
                }
                &--span {
                    padding: .7rem 2rem;
                    font-size: 1.4rem;
                    font-family: Quicksand;
                }
            }
        }
        &__btnform {
            margin-left: 30rem;
            margin-bottom: 5rem;
            display: flex;
            align-items: flex-start;
            &__label {
                display: flex;
                align-items: center;
                padding: .7rem 2rem;
                font-size: 1.7rem;
                width: 27rem;
            }
            &--submit {
                // display: flex;
                background-color: var(--f5-color);
                border: none;
                border-radius: 5px;
                font-size: 2.2rem;
                color: var(--f2-color);
                padding: 1rem;
                width: 20rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

//  LOGO
.logo {
    height: 3.25rem;
    margin-left: 1rem;
}

// SEARCH BOX
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--d1-color);
        border: none;
        border-color: var(--f2-color);
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -2.7rem;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--d3-color);
            &::-webkit-input-placeholder {
                font-weight: 100;
            }
        }
    }
    &__input:focus+&__button {
        background-color: var(--d3-color);
    }
    &__button {
        border: none;
        background-color: var(--d1-color);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--f1-color);
    }
}

//  USER NAV
.user-nav {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    color: var(--f1-color);
    &__icon-box {
        display: flex;
        align-items: center;
        padding: 0 .8rem;
        cursor: pointer;
        height: 100%;
        &:hover {
            background-color: var(--d2-color);
            color: #fff;
        }
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: currentColor;
    }
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: var(--f1-color);
    }
    &__link:hover {
        color: #fff;
    }
}

//  NAVIGATION SIDEBAR
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &__item::before {
        // Sudo element fo setting up transitions
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--d1-color);
        transform: scaleY(0);
        transition: transform .15s, width .1s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before {
        background-color: var(--f2-color);
    }
    &__link:link,
    &__link:visited {
        color: var(--f4-color);
        text-decoration: none;
        text-transform: uppercase;
        padding: .8rem 1rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 1rem;
        fill: var(--f1-color);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    padding-left: 2rem;
    display: none;
    position: absolute;
    background-color: var(--f9-color);
    z-index: 2;
    width: 100%;
}

.show {
    display: block;
}

// LEGAL TEXT
.legal {
    font-size: 1.7rem;
    color: var(--f5-color);
    text-align: center;
    padding: 2.5rem; // display: none;
}

// PADALINIAI
.pad {
    &__page-header {
        display: flex;
        flex-direction: column;
        &--main {
            letter-spacing: .4rem;
            margin-top: .5rem;
            margin-left: 1rem;
            font-size: 4rem;
            font-weight: 700;
        }
        &--second {
            font-size: 1.7rem;
            font-weight: 400;
        }
        &--icon {
            width: 1.75rem;
            height: 1.75rem;
            margin: 0 1rem;
            fill: var(--d1-color);
        }
        &--new-item {
            border-radius: 2px;
            text-transform: uppercase;
            margin: 0 1rem;
            display: flex;
            background-color: var(--f5-color);
        }
        &--link {
            display: flex;
            flex: 1;
            font-size: 1.7rem;
            text-decoration: none;
            color: var(--d1-color);
            align-items: center;
        }
    }
    &__page-data {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__main-tab:hover {
            background-color: var(--f2-color);
        }
        &__main-tab {
            border-radius: 5px;
            margin: 2rem;
            display: flex;
            flex-basis: 21%;
            flex-direction: column;
            background-color: var(--f9-color);
            &--header {
                margin-bottom: .5rem;
                margin-top: .5rem;
                padding-left: 1.5rem;
                font-size: 2.2rem;
                font-weight: 700;
            }
            &--content {
                margin-bottom: 1rem;
                padding-left: 1.5rem;
                font-size: 1.7rem;
                font-weight: 100;
            }
            &--buttons {
                height: 4rem;
                border-radius: 1px;
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                color: var(--f4-color);
                background-color: var(--d1-color);
                &--edit {
                    align-items: center;
                    height: 100%;
                    text-decoration: none;
                    color: var(--f4-color);
                    font-size: 1.4rem;
                    display: flex;
                    justify-content: center;
                    flex-basis: 50%;
                }
                &--edit:hover {
                    background-color: var(--f2-color);
                }
                &--del {
                    display: flex;
                    justify-content: center;
                    flex-basis: 50%;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--f4-color);
                    & :hover {
                        background-color: var(--f2-color);
                    }
                }
                &--btn {
                    display: flex;
                    justify-content: center;
                    flex-grow: 1;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--f4-color);
                    background-color: inherit;
                }
            }
        }
    }
}