::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper {
    background: var(--f2-color);

    }
// ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field {
    color: blue;
    font-size: 1.7rem;
    text-size: 1.7rem;
 }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {

    padding:10%;
    background: var(--f2-color);
    }
::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    }