.data-editForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__legend {
    align-items: baseline;
    letter-spacing: 0.4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--d1-color);
    align-items: center;
    background-color: var(--f5-color);
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 1rem;
    &__icon {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--d3-color);
    }
  }
  &__content {
    display: flex;
    // height: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // margin-left: 20rem;
    &__input {
      margin: 2rem;
      display: flex;
      flex-direction: row;

      align-items: baseline;
      &--hidden {
        display: none;
      }
      &--label {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        margin-right: 5rem;
        width: 33rem;
        padding: 0 1rem;
        font-size: 1.7rem;
        font-weight: 400;
      }
      &--body {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        &--text {
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: 0.5rem 2rem;
          border-radius: 5px;
          width: 90%;
          padding-left: 3.5rem;
          height: 4rem;
          transition: all 0.2s;
          //   margin-right: -2.7rem;
          font-size: 1.7rem;
          &:focus {
            outline: none;
            width: 100%;
            background-color: var(--f2-color);
            &::-webkit-input-placeholder {
              font-weight: 400;
            }
          }
          &::placeholder {
            font-family: Quicksand;
          }
        }
        &--span {
          padding-top: 0.2rem;
          padding-right: 4rem;
          font-size: 1.4rem;
          font-family: Quicksand;
          margin-left: 3rem;
        }
      }
    }
    &__button {
      margin: 2rem;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      &--submit {
        // border-color: var(--d1-color);
        background-color: var(--d1-color);
        border: none;
        display: flex;
        width: 10rem;
        height: 3.5rem;
        border-radius: 15px;
        justify-content: space-evenly;
        font-size: 1.7rem;
        &--icon {
          height: 1.75rem;
          width: 1.75rem;
          fill: var(--f1-color);
        }
        &:hover {
          cursor: pointer;
          background-color: var(--d2-color);
          color: var(--d3-color);
        }
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}
