.data {
  // display: flex;
  // justify-content: space-between;
  &__page-header {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    flex-wrap: wrap;
    flex-basis: 75%;
    &--main {
      letter-spacing: 0.4rem;
      font-size: 3.6rem;
      font-weight: 700;
    }
    &--second {
      font-size: 1.7rem;
      font-weight: 400;
    }
    &--icon {
      width: 1.75rem;
      height: 1.75rem;
      margin: 0 1rem;
      fill: var(--d1-color);
    }
    &--new-item {
      border-radius: 3px;
      text-transform: uppercase;
      text-align: center;
      margin: 0.2rem 0.2rem;
      display: flex;
      background-color: var(--f5-color);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      &:hover {
        box-shadow: 0 6px 10px 0 rgba(34, 148, 229, 0.2),
          0 6px 15px 0 rgba(34, 148, 229, 0.19);
        transform: translateY(-1px);
      }
      &:active {
        transform: translateY(1px);
      }
    }
    &--link {
      display: flex;
      flex: 1;
      font-size: 1.6rem;
      text-decoration: none;
      color: var(--d1-color);
      align-items: center;
    }
  }
  &__page-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    &__main-tab {
      border-radius: 5px;
      padding: 0.2rem;
      margin: 2rem;
      display: flex;
      align-self: flex-start;
      flex-basis: 25%;
      flex-direction: column;
      background-color: var(--f9-color);
      box-shadow: 0 6px 10px 0 rgba(123, 137, 148, 0.2),
        0 6px 15px 0 rgba(123, 137, 148, 0.19);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      &:hover {
        background-color: var(--f2-color);
      }
      &--header {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        padding: 0 1rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      &--content {
        margin-bottom: 1rem;
        padding: 0 1rem;
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: capitalize;
      }
      &--detail {
        align-items: center;
        height: 100%;
        text-decoration: none;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        margin-bottom: 3px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        &:nth-child(1n) {
          background-color: var(--f6-color);
          color: var(--f4-color);
          &:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.3),
              0 4px 10px 0 rgba(34, 148, 229, 0.1);
            transform: translateY(-1px);
          }
        }
        &:nth-child(2n) {
          background-color: var(--f3-color);
          color: var(--f4-color);
          &:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.3),
              0 4px 10px 0 rgba(34, 148, 229, 0.1);
            transform: translateY(-1px);
          }
        }
      }
      &--buttons {
        height: 4rem;
        border-radius: 1px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: var(--f4-color);
        background-color: var(--d1-color);
        &--edit {
          align-items: center;
          height: 100%;
          text-decoration: none;
          color: var(--f4-color);
          font-size: 1.4rem;
          display: flex;
          justify-content: center;
          flex-basis: 50%;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          &:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            text-decoration: none;
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35),
              0 4px 10px 0 rgba(34, 148, 229, 0.1);
            transform: translateY(-1px);
          }
          &:active {
            transform: translateY(1px);
          }
        }
        &--del {
          display: flex;
          justify-content: center;
          flex-basis: 50%;
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--f4-color);
        }
        &--btn {
          display: flex;
          justify-content: center;
          flex-grow: 1;
          border: none;
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--f4-color);
          background-color: inherit;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          &:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35),
              0 4px 10px 0 rgba(34, 148, 229, 0.1);
            transform: translateY(-1px);
          }
          &:active {
            transform: translateY(1px);
          }
        }
      }
    }
  }
}
