.kellap-filter {
  display: flex;
  margin: 1rem 1rem;
  justify-content: space-between;
  &__element {
    display: flex;
    flex-direction: column;
    align-self: center;
    &__label {
      text-align: left;
      padding: 0 2rem;
      font-size: 1.7rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__body {
      border: none;
      padding: 0.5rem 2rem;
      border-radius: 5px;
      font-size: 1.7rem;
      text-transform: capitalize;
      background-color: var(--f2-color);
      &:focus {
        outline: none;
        outline-offset: none;
        background-color: var(--f2-color);
        -webkit-input-placeholder {
          border-color: var(--f1-color);
          border: none;
          font-weight: 400;
        }
      }
      &:active {
        outline: none;
        border-color: var(--f1-color);
        border: none;
      }
      &::placeholder {
        text-align: left;
        font-family: Quicksand;
      }
    }
  }
}
.kellap-data {
  display: flex;
  flex-direction: column;
  &__header {
    justify-content: space-around;
    display: flex;
    background-color: var(--f2-color);
    margin: 0 1rem;
    border-radius: 4px;
    &--ellement {
      width: 10%;
      text-align: center;
      margin: 0.5rem;
      font-size: 1.6rem;
      &--b {
        width: 5%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.6rem;
      }
      &--a {
        width: 15%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.6rem;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    &:hover {
      background-color: var(--f3-color);
      color: var(--f4-color);
      box-shadow: 0 5px 10px 0 rgba(151, 166, 177, 0.3),
        0 4px 10px 0 rgba(176, 178, 180, 0.1);
      transform: translateY(-1px);
    }
    &__element {
      width: 10%;
      text-align: center;
      margin: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
      &--b {
        width: 5%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      &--a {
        width: 15%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      &--link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        // background-color: var(--f6-color);
        color: var(--f4-color);
        &:hover {
          border-radius: 4px;
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 3px 3px 0 rgba(34, 148, 229, 0.35),
            0 3px 3px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px);
        }
      }
      &--delform {
        display: flex;
        height: 100%;
      }
      &--delbtn {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        flex-grow: 1;
        border: none;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--f4-color);
        background-color: inherit;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        &:hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 3px 3px 0 rgba(34, 148, 229, 0.35),
            0 3px 3px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px);
        }
        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}

hr {
  margin: 0 1rem;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.kellap-detail {
  display: flex;
  //
  //  APSKAITA
  //
  &__content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 85%;
    //
    //  PAJAMOS
    //
    &__pajamos {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      &__header {
        font-weight: 400;
        font-size: 2.2rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        background-color: var(--f3-color);
        text-transform: uppercase;
        padding-left: 1rem;
      }
      &--newItem {
        border-radius: 3px;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem 0;
        display: flex;
        background-color: var(--f5-color);
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        &:hover {
          box-shadow: 0 6px 10px 0 rgba(34, 148, 229, 0.2),
            0 6px 15px 0 rgba(34, 148, 229, 0.19);
          transform: translateY(-1px);
        }
        &:active {
          transform: translateY(1px);
        }
      }
      &--link {
        display: flex;
        flex: 1;
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--d1-color);
        align-items: center;
      }
      &__content {
        display: flex;
        flex-direction: column;
        &__header {
          background-color: var(--f2-color);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 1.7rem;
          font-weight: 700;
        }
        &__footer {
          background-color: var(--f2-color);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 1.7rem;
          font-weight: 700;
          padding-left: 5rem;
        }
        &__body {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.7rem;
          // text-transform: uppercase;
          &:hover {
            background-color: var(--f3-color);
          }
        }
        &__buttons {
          // height: 4rem;
          border-radius: 1px;
          display: flex;
          justify-content: flex-start;
          width: 100%;
          color: var(--f4-color);
          // background-color: var(--d1-color);
          &--edit {
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: var(--f4-color);
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            flex-basis: 50%;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            &:hover {
              background-color: var(--f5-color);
              color: var(--d3-color);
              text-decoration: none;
              box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35),
                0 4px 10px 0 rgba(34, 148, 229, 0.1);
              // transform: translateY(-1px);
            }
            &:active {
              transform: translateY(1px);
            }
          }
          &--del {
            display: flex;
            justify-content: center;
            flex-basis: 50%;
            font-size: 1.7rem;
            font-weight: 400;
            color: var(--f4-color);
          }
          &--btn {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            border: none;
            font-size: 1.7rem;
            font-weight: 400;
            color: var(--f4-color);
            background-color: inherit;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            &:hover {
              background-color: var(--f5-color);
              color: var(--d3-color);
              box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35),
                0 4px 10px 0 rgba(34, 148, 229, 0.1);
              // transform: translateY(-1px);
            }
            &:active {
              transform: translateY(1px);
            }
          }
        }
      }
    }
    //
    //  KURAS
    //
    &__kuras {
      display: flex;
      flex-direction: column;
      background-color: grey;
      // width: 40%;
      padding: 1rem;
    }
  }
}

.element {
  margin: 0.1rem 0.1rem;
  justify-content: center;
}
.element-a {
  width: 28%;
  margin: 0.1rem 0.1rem;
}
.element-b {
  width: 8%;
  margin: 0.1rem 0.1rem;
}
.element-c {
  width: 11%;
  margin: 0.1rem 0.1rem;
}
.element-d {
  // height: auto;
  width: 15%;
  margin: 0.1rem 0.1rem;
}
