.maincontainer {
  width: 100%; // margin: 3rem auto;
  background-color: var(--d3-color);
  box-shadow: var(--f2-color);
  min-height: inherit;
}

.header {
  font-size: 2.2rem;
  height: 5vh;
  background-color: var(--f9-color);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--f1-color);
}

.content {
  display: flex;
  // height: 95vh;
}

.sidebar {
  display: flex;
  background-color: var(--f9-color);
  flex: 0 0 16%;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: 95vh;
}

.kellap-content {
  background-color: var(--d3-color);
  flex: 1;
  // height: 95vh;
}
