.container {
    width: 100%; // margin: 3rem auto;
    background-color: var(--d3-color);
    box-shadow: var(--f2-color);
    min-height: 50rem;
}

.header {
    font-size: 2.2rem;
    height: 6rem;
    background-color: var(--d1-color);
    border-bottom: 1px solid var(--f6-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--f1-color);
}

.content {
    display: flex;
}

.sidebar {
    display: flex;
    background-color: var(--f9-color);
    flex: 0 0 19%;
    flex-direction: column;
    justify-content: space-between;
}

.kellap-content {
    background-color: var(--d3-color);
    flex: 1;
    height: 80rem;
}