<% include partials/header %>
    <link rel="stylesheet" href="stylesheets/landing.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="content">
                    <hr>
                    <p>TRANSPORTO VALDYMO MODULIS</p> <br></br>
                    <h4>Mes su malonumu padesime Jums, nes mes norime jog laika skirtumete reiksmingiems darbams</h4>
                    <hr>
                    <br></br>
                    <a href="/kellap" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> KELIONES LAPAI !</a>
                    <!--<a href="/kellap/59ecb9de5e5dcd1532979859/paj/new" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> KELIONES LAPAI !</a>-->
                    <br></br>
                    <a href="/kellap/newkr" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Naujas krov Lapas !</a>
                    <a href="/kellap/newmech" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Naujas mech Lapas !</a>
                    <a href="/kellap/newlen" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Naujas lengv Lapas !</a>
                    <a href="/kellap/" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Naujas m.m. Lapas !</a>
                    <hr>
                    <a href="/autokrov" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> KROVININIAI !</a>
                    <a href="/automech" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> MECHANIZMAI !</a>
                    <a href="/autolen" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> LENGVIEJI !</a>
                    <a href="/automm" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> KITI !</a>
                    <a href="/autonuoma" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> NUOMA !</a>
                    <hr>
                    <a href="/pad" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Padaliniai !</a>
                    <a href="/dv" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Darbu vadovai !</a>
                    <a href="/vair" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Vairuotojai !</a>
                    <a href="/obj" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Objektai !</a>
                    <a href="/trrus" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Transporto rusis !</a>
                    <a href="/trtip" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Transporto tipas !</a>
                    <a href="/kurrus" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Kuro rusys !</a>
                    <a href="/kuruzp" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Kuro saltiniai !</a>
                    <a href="/darbrus" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> darbo rusis !</a>
                    <a href="/imones" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Imones !</a>
                    <hr>
                    <a href="/main" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> KURO ATASKAITA !</a>
                    <a href="/main" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> PAJAMU ATASKAITA !</a>
                    <a href="/test" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> TEST !</a>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="scripts/background.js"></script>-->

    <% include partials/footer %>