<% include ./partials/header %>
    <div class="login">
        <form action="/register" method="POST" class="login__form">
            <!-- Form Name -->
            <legend class="login__form--legend">Naujo vartotojo registracija:</legend>

            <!-- Text input-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="username">Prisijungimo vardas</label>
                <div class="login__form--userform__input">
                    <input id="username" name="username" type="text" placeholder="Prisijungimo vardas" class="login__form--userform__input--text"
                        required="">
                    <span class="login__form--userform__input--span">Prisijungimo vardas</span>
                </div>
            </div>

            <!-- Password input-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="password">Slaptažodis</label>
                <div class="login__form--userform__input">
                    <input id="password" name="password" type="password" placeholder="Slaptažodis" class="login__form--userform__input--text"
                        required="">
                    <span class="login__form--userform__input--span">Slaptažodis</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="firstName">Vardas</label>
                <div class="login__form--userform__input">
                    <input id="firstName" name="firstName" type="text" placeholder="Vardas" class="login__form--userform__input--text" required="">
                    <span class="login__form--userform__input--span">Vardas</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="lastName">Pavardė</label>
                <div class="login__form--userform__input">
                    <input id="lastName" name="lastName" type="text" placeholder="Pavardė" class="login__form--userform__input--text" required="">
                    <span class="login__form--userform__input--span">Pavardė</span>
                </div>
            </div>

            <!-- Prepended text-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="email">El. paštas</label>
                <div class="login__form--userform__input">
                    <div class="input-group">
                        <input id="email" name="email" class="login__form--userform__input--text" placeholder="El. paštas" type="text" required="">
                    </div>
                    <p class="login__form--userform__input--span">El. paštas</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="login__form--userform">
                <label class="login__form--userform__label" for="adminCode"></label>
                <div class="login__form--userform__input">
                    <input id="adminCode" name="adminCode" type="text" placeholder="" class="login__form--userform__input--text">
                    <span class="login__form--userform__input--span">Admin</span>
                </div>
            </div>

            <!-- Button -->
            <div class="login__form__button">
                <button name="submit" class="login__form__button--submit ">
                    <svg class="login__form__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-login"></use>
                    </svg> Registruoti
                </button>
            </div>
        </form>
    </div>
    <% include ./partials/footer %>