<% include ./partials/header %>

    <div class=' container'>
        <form action="/register" method="POST" class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Naujo vartotojo registracija:</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">Prisijungimo vardas</label>
                    <div class="col-md-4">
                        <input id="username" name="username" type="text" placeholder="Prisijungimo vardas" class="form-control input-md" required="">
                        <span class="help-block">Prisijungimo vardas</span>
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Slaptažodis</label>
                    <div class="col-md-4">
                        <input id="password" name="password" type="password" placeholder="Slaptažodis" class="form-control input-md" required="">
                        <span class="help-block">Slaptažodis</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstName">Vardas</label>
                    <div class="col-md-4">
                        <input id="firstName" name="firstName" type="text" placeholder="Vardas" class="form-control input-md" required="">
                        <span class="help-block">Vardas</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastName">Pavardė</label>
                    <div class="col-md-4">
                        <input id="lastName" name="lastName" type="text" placeholder="Pavardė" class="form-control input-md" required="">
                        <span class="help-block">Pavardė</span>
                    </div>
                </div>

                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">El. paštas</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input id="email" name="email" class="form-control" placeholder="El. paštas" type="text" required="">
                        </div>
                        <p class="help-block">El. paštas</p>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="adminCode"></label>
                    <div class="col-md-4">
                        <input id="adminCode" name="adminCode" type="text" placeholder="" class="form-control input-md">
                        <span class="help-block">Admin</span>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit">Registruoti</label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-success">Registruoti</button>
                    </div>
                </div>

            </fieldset>
        </form>
        <% include ./partials/footer %>