<% include ./partials/header %>

    <div class=' container'>
        <div class="jumbotron">
            <h1>Sign Up!</h1>
            <hr>
            <form action="/register" method="post">
                <div class='form-group'>
                    <input type="text" name="username" placeholder="prisijungimo vardas">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="slaptazodis">
                </div>
                <div class="form-group">
                    <input type="text" name="firstName" placeholder="vardas">
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" placeholder="pavarde">
                </div>
                <div class="form-group">
                    <input type="text" name="avatar" placeholder="avataras">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="elektroninis@pastas.lt">
                </div>
                <div class="form-group">
                    <input type="password" name="adminCode" placeholder="admin code">
                </div>
                <button>REGISTRUOTIS !</button>
                <hr>
            </form>
        </div>
    </div>
    <% include ./partials/footer %>