:root {
  --f1-color: #007ee5;
  --f2-color: #e2e7eb;
  --f3-color: #47525d;
  --f4-color: #3d464d;
  --f5-color: #0d87e4;
  --f6-color: #7B8994;
  --f7-color: #47525D;
  --f8-color: #3D464D;
  --f9-color: #f7f9fa;
  --d1-color: #eeeded;
  --d2-color: #6a7c8f;
  --d3-color: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--f4-color); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--f4-color);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%; }

.container {
  width: 100%;
  background-color: var(--d3-color);
  box-shadow: var(--f2-color);
  min-height: 40rem; }

.header {
  font-size: 2.2rem;
  height: 6rem;
  background-color: var(--f9-color);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--f1-color); }

.content {
  display: flex; }

.sidebar {
  display: flex;
  background-color: var(--f9-color);
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between; }

.kellap-content {
  background-color: var(--d3-color);
  flex: 1;
  height: 80rem; }

.login {
  height: 100%;
  margin-top: 3rem;
  font-size: 1.7rem; }
  .login__form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 100%; }
    .login__form--legend {
      font-family: OpenSans;
      font-size: 2.5rem;
      display: flex;
      margin-left: 10rem;
      margin-bottom: 7rem; }
    .login__form__icon {
      height: 3rem;
      width: 3rem;
      padding-right: 1rem;
      fill: var(--f1-color); }
    .login__form--userform {
      margin-left: 30rem;
      margin-bottom: 5rem;
      display: flex;
      align-items: flex-start; }
      .login__form--userform__label {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        padding: .7rem 2rem;
        width: 33rem; }
      .login__form--userform__input {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        flex-basis: 100%; }
        .login__form--userform__input--text {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: .7rem 2rem;
          border-radius: 100px;
          width: 38%;
          transition: all .2s;
          letter-spacing: 2px; }
          .login__form--userform__input--text:focus {
            outline: none;
            width: 40%;
            background-color: var(--d3-color); }
            .login__form--userform__input--text:focus:-webkit-input-placeholder {
              font-weight: 400; }
        .login__form--userform__input--span {
          padding: .7rem 2rem;
          font-size: 1.4rem;
          font-family: Quicksand; }
    .login__form--pswform {
      margin-left: 30rem;
      margin-bottom: 5rem;
      display: flex;
      align-items: flex-start; }
      .login__form--pswform__label {
        display: flex;
        align-items: center;
        padding: .7rem 2rem;
        font-size: 1.7rem;
        width: 33rem; }
      .login__form--pswform__input {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        flex-basis: 100%; }
        .login__form--pswform__input--text {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: .7rem 2rem;
          border-radius: 100px;
          width: 38%;
          transition: all .2s;
          letter-spacing: 2px; }
          .login__form--pswform__input--text:focus {
            outline: none;
            width: 40%;
            background-color: var(--d3-color); }
            .login__form--pswform__input--text:focus:-webkit-input-placeholder {
              font-weight: 400; }
        .login__form--pswform__input--span {
          padding: .7rem 2rem;
          font-size: 1.4rem;
          font-family: Quicksand; }
    .login__form__btnform {
      margin-left: 30rem;
      margin-bottom: 5rem;
      display: flex;
      align-items: flex-start; }
      .login__form__btnform__label {
        display: flex;
        align-items: center;
        padding: .95rem 2rem;
        font-size: 1.7rem;
        width: 27rem; }
      .login__form__btnform--submit {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--d1-color);
        border: none;
        height: 3.6rem;
        border-color: var(--f2-color);
        padding: .7rem 2rem;
        margin-left: 2rem;
        border-radius: 100px;
        width: 20%;
        transition: all .2s;
        letter-spacing: 2px; }
        .login__form__btnform--submit:focus {
          outline: none;
          transform: translateY(2px);
          background-color: var(--d1-color); }
          .login__form__btnform--submit:focus:-webkit-input-placeholder {
            font-weight: 400; }

.logo {
  height: 3.25rem;
  margin-left: 1rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--d1-color);
    border: none;
    border-color: var(--f2-color);
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -2.7rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--d3-color); }
      .search__input:focus::-webkit-input-placeholder {
        font-weight: 4 00; }
  .search__input:focus + .search__button {
    background-color: var(--d3-color); }
  .search__button {
    border: none;
    background-color: var(--d1-color); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--f1-color); }

.user-nav {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  color: var(--f1-color); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    padding: 0 .8rem;
    cursor: pointer;
    height: 100%; }
    .user-nav__icon-box:hover {
      background-color: var(--d2-color);
      color: #fff; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor; }
  .user-nav__link:link, .user-nav__link:visited {
    text-decoration: none;
    color: var(--f1-color); }
  .user-nav__link:hover {
    color: #fff; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--d1-color);
    transform: scaleY(0);
    transition: transform 0.15s, width 0.1s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--f2-color); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--f4-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    fill: var(--f1-color); }

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%; }

.dropdown-content {
  padding-left: 2rem;
  display: none;
  position: absolute;
  background-color: var(--f9-color);
  z-index: 2;
  width: 100%; }

.show {
  display: block; }

.legal {
  font-size: 1.7rem;
  color: var(--f5-color);
  text-align: center;
  padding: 2.5rem; }

.pad__page-header {
  display: flex;
  flex-direction: column; }
  .pad__page-header--main {
    letter-spacing: .4rem;
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: 700; }
  .pad__page-header--second {
    font-size: 1.7rem;
    font-weight: 400; }
  .pad__page-header--icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 1rem;
    fill: var(--d1-color); }
  .pad__page-header--new-item {
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 1rem;
    display: flex;
    background-color: var(--f5-color); }
  .pad__page-header--link {
    display: flex;
    flex: 1;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--d1-color);
    align-items: center; }

.pad__page-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .pad__page-data__main-tab:hover {
    background-color: var(--f2-color); }
  .pad__page-data__main-tab {
    border-radius: 5px;
    margin: 2rem;
    display: flex;
    flex-basis: 21%;
    flex-direction: column;
    background-color: var(--f9-color); }
    .pad__page-data__main-tab--header {
      margin-bottom: .5rem;
      margin-top: .5rem;
      padding-left: 1.5rem;
      font-size: 2.2rem;
      font-weight: 700; }
    .pad__page-data__main-tab--content {
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      font-size: 1.7rem;
      font-weight: 100; }
    .pad__page-data__main-tab--buttons {
      height: 4rem;
      border-radius: 1px;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      color: var(--f4-color);
      background-color: var(--d1-color); }
      .pad__page-data__main-tab--buttons--edit {
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: var(--f4-color);
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        flex-basis: 50%; }
      .pad__page-data__main-tab--buttons--edit:hover {
        background-color: var(--f2-color); }
      .pad__page-data__main-tab--buttons--del {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--f4-color); }
        .pad__page-data__main-tab--buttons--del :hover {
          background-color: var(--f2-color); }
      .pad__page-data__main-tab--buttons--btn {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        border: none;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--f4-color);
        background-color: inherit; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #b5b9bb;
  -webkit-text-fill-color: #303033;
  transition: background-color 5000s ease-in-out 0s; }
