:root {
  --f1-color: #007ee5;
  --f2-color: #e2e7eb;
  --f3-color: #b6babe;
  --f4-color: #020711;
  --f5-color: #2294e5;
  --f6-color: #7b8994;
  --f7-color: #47525d;
  --f8-color: #3d464d;
  --f9-color: #f7f9fa;
  --d1-color: #eeeded;
  --d2-color: #6a7c8f;
  --d3-color: white;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--f8-color); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(8-color);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%; }

.maincontainer {
  width: 100%;
  background-color: var(--d3-color);
  box-shadow: var(--f2-color);
  min-height: inherit; }

.header {
  font-size: 2.2rem;
  height: 5vh;
  background-color: var(--f9-color);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--f1-color); }

.content {
  display: flex; }

.sidebar {
  display: flex;
  background-color: var(--f9-color);
  flex: 0 0 16%;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  min-height: 95vh; }

.kellap-content {
  background-color: var(--d3-color);
  flex: 1; }

.login {
  height: 100%;
  margin-top: 3rem;
  font-size: 1.7rem; }
  .login__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%; }
    .login__form--legend {
      font-size: 2.5rem;
      display: flex;
      margin-left: 10rem;
      margin-bottom: 4rem;
      text-transform: uppercase; }
    .login__form__icon {
      height: 3rem;
      width: 3rem;
      padding-right: 1rem;
      fill: var(--f1-color); }
    .login__form--userform {
      margin-bottom: 2rem;
      display: flex;
      align-items: flex-start; }
      .login__form--userform__label {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        padding: 0.7rem 2rem;
        width: 33rem;
        text-transform: uppercase; }
      .login__form--userform__input {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        flex-basis: 100%; }
        .login__form--userform__input--text {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: 0.7rem 2rem;
          border-radius: 100px;
          transition: all 0.2s;
          letter-spacing: 2px; }
          .login__form--userform__input--text:hover {
            transform: translateY(-1px); }
          .login__form--userform__input--text:focus {
            outline: none;
            background-color: var(--d2-color);
            color: var(--d3-color);
            -webkit-text-fill-color: var(--d3-color); }
            .login__form--userform__input--text:focus:-webkit-input-placeholder {
              font-weight: 400; }
        .login__form--userform__input--span {
          padding: 0.7rem 2rem;
          font-size: 1.4rem;
          font-family: Quicksand; }
    .login__form--pswform {
      margin-bottom: 5rem;
      display: flex;
      align-items: flex-start; }
      .login__form--pswform__label {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        padding: 0.7rem 2rem;
        width: 33rem;
        text-transform: uppercase; }
      .login__form--pswform__input {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        flex-basis: 100%; }
        .login__form--pswform__input--text {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: 0.7rem 2rem;
          border-radius: 100px;
          transition: all 0.2s;
          letter-spacing: 2px; }
          .login__form--pswform__input--text:hover {
            transform: translateY(-1px); }
          .login__form--pswform__input--text:focus {
            outline: none;
            background-color: var(--d2-color);
            color: var(--d3-color);
            -webkit-text-fill-color: var(--d3-color); }
            .login__form--pswform__input--text:focus:-webkit-input-placeholder {
              font-weight: 400; }
        .login__form--pswform__input--span {
          padding: 0.7rem 2rem;
          font-size: 1.4rem;
          font-family: Quicksand; }
    .login__form__button {
      margin-bottom: 5rem;
      display: flex;
      align-items: flex-start; }
      .login__form__button--submit {
        background-color: var(--d1-color);
        border: none;
        display: flex;
        width: 12rem;
        height: 3.5rem;
        border-radius: 15px;
        justify-content: space-evenly;
        font-size: 1.7rem; }
        .login__form__button--submit--icon {
          height: 1.75rem;
          width: 1.75rem;
          fill: var(--f1-color); }
        .login__form__button--submit:hover {
          cursor: pointer;
          background-color: var(--d2-color);
          color: var(--d3-color); }
        .login__form__button--submit:focus {
          outline: none;
          text-decoration: none;
          background-color: var(--d2-color); }

.logo {
  height: 3.25rem;
  margin-left: 1rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--d1-color);
    border: none;
    border-color: var(--f2-color);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -2.7rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--d3-color); }
      .search__input:focus::-webkit-input-placeholder {
        font-weight: 4 00; }
  .search__input:focus + .search__button {
    background-color: var(--d3-color); }
  .search__button {
    border: none;
    background-color: var(--d1-color); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--f1-color); }

.user-nav {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  color: var(--f1-color); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    cursor: pointer;
    height: 100%; }
    .user-nav__icon-box:hover {
      background-color: var(--d2-color);
      color: #fff; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--f1-color); }
  .user-nav .nav-user {
    text-transform: capitalize; }
  .user-nav__link:link, .user-nav__link:visited {
    text-decoration: none;
    color: var(--f1-color); }
  .user-nav__link:hover {
    color: #fff; }

.side-nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--d1-color);
    transform: scaleY(0);
    transition: transform 0.15s, width 0.1s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--f2-color); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--f4-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    fill: var(--f1-color); }

span {
  width: 100%; }

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%; }

.dropdown-content {
  padding-left: 2rem;
  display: none;
  position: absolute;
  background-color: var(--f9-color);
  z-index: 2;
  width: 100%; }

.show {
  display: block; }

.legal {
  font-size: 1.7rem;
  color: var(--f5-color);
  text-align: center;
  padding: 0.5rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #b5b9bb;
  -webkit-text-fill-color: #1616af;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--f1-color); }

.data__page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  flex-basis: 75%; }
  .data__page-header--main {
    margin-left: 1rem;
    letter-spacing: 0.4rem;
    font-size: 3.6rem;
    font-weight: 700; }
  .data__page-header--second {
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 400; }
  .data__page-header--icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 1rem;
    fill: var(--d1-color); }
  .data__page-header--new-item {
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 0.2rem 1rem;
    display: flex;
    background-color: var(--f5-color);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .data__page-header--new-item:hover {
      box-shadow: 0 6px 10px 0 rgba(34, 148, 229, 0.2), 0 6px 15px 0 rgba(34, 148, 229, 0.19);
      transform: translateY(-1px); }
    .data__page-header--new-item:active {
      transform: translateY(1px); }
  .data__page-header--link {
    display: flex;
    flex: 1;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--d1-color);
    align-items: center; }

.data__page-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .data__page-data__main-tab {
    border-radius: 5px;
    padding: 0.2rem;
    margin: 2rem;
    display: flex;
    align-self: flex-start;
    flex-basis: 25%;
    flex-direction: column;
    background-color: var(--f9-color);
    box-shadow: 0 6px 10px 0 rgba(123, 137, 148, 0.2), 0 6px 15px 0 rgba(123, 137, 148, 0.19);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .data__page-data__main-tab:hover {
      background-color: var(--f2-color); }
    .data__page-data__main-tab--header {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      padding: 0 1rem;
      font-size: 2.2rem;
      font-weight: 700; }
    .data__page-data__main-tab--content {
      margin-bottom: 1rem;
      padding: 0 1rem;
      font-size: 1.7rem;
      font-weight: 400;
      text-transform: capitalize; }
    .data__page-data__main-tab--detail {
      align-items: center;
      height: 100%;
      text-decoration: none;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      flex-basis: 20%;
      margin-bottom: 3px;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
      .data__page-data__main-tab--detail:nth-child(1n) {
        background-color: var(--f6-color);
        color: var(--f4-color); }
        .data__page-data__main-tab--detail:nth-child(1n):hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.3), 0 4px 10px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
      .data__page-data__main-tab--detail:nth-child(2n) {
        background-color: var(--f3-color);
        color: var(--f4-color); }
        .data__page-data__main-tab--detail:nth-child(2n):hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.3), 0 4px 10px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
    .data__page-data__main-tab--buttons {
      height: 4rem;
      border-radius: 1px;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      color: var(--f4-color);
      background-color: var(--d1-color); }
      .data__page-data__main-tab--buttons--edit {
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: var(--f4-color);
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s; }
        .data__page-data__main-tab--buttons--edit:hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          text-decoration: none;
          box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
        .data__page-data__main-tab--buttons--edit:active {
          transform: translateY(1px); }
      .data__page-data__main-tab--buttons--del {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--f4-color); }
      .data__page-data__main-tab--buttons--btn {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        border: none;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--f4-color);
        background-color: inherit;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s; }
        .data__page-data__main-tab--buttons--btn:hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
        .data__page-data__main-tab--buttons--btn:active {
          transform: translateY(1px); }

.data-newForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  flex-wrap: wrap; }
  .data-newForm__legend {
    align-items: baseline;
    letter-spacing: 0.4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    flex-wrap: wrap; }
  .data-newForm__link {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--d1-color);
    background-color: var(--f5-color);
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 1rem;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .data-newForm__link:hover {
      background-color: var(--f5-color);
      color: var(--d3-color);
      text-transform: uppercase;
      box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1); }
    .data-newForm__link:active {
      transform: translateY(1px); }
    .data-newForm__link__icon {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--d3-color); }
  .data-newForm__content {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 85%; }
    .data-newForm__content__input {
      margin: 1rem 2rem;
      display: flex;
      flex-direction: row;
      align-self: center;
      width: 80%; }
      .data-newForm__content__input--hidden {
        display: none; }
      .data-newForm__content__input--label {
        width: 50%;
        margin-left: 10rem;
        padding: 0 1rem;
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase; }
      .data-newForm__content__input--body {
        width: 50%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        text-transform: capitalize; }
        .data-newForm__content__input--body--text {
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: 0.5rem 2rem;
          border-radius: 5px;
          width: 90%;
          height: 4rem;
          font-size: 1.7rem;
          text-transform: capitalize; }
          .data-newForm__content__input--body--text:focus {
            outline: none;
            outline-offset: none;
            width: 100%;
            background-color: var(--f2-color); }
            .data-newForm__content__input--body--text:focus -webkit-input-placeholder {
              border-color: var(--f1-color);
              border: none;
              font-weight: 400; }
          .data-newForm__content__input--body--text:active {
            outline: none;
            border-color: var(--f1-color);
            border: none; }
          .data-newForm__content__input--body--text::placeholder {
            font-family: Quicksand; }
        .data-newForm__content__input--body--span {
          padding-top: 0.2rem;
          padding-right: 0.5rem;
          font-size: 1.2rem;
          font-family: Quicksand;
          margin-left: 2rem;
          text-transform: lowercase; }
  .data-newForm__button {
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 45%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .data-newForm__button--submit {
      background-color: var(--d1-color);
      border: none;
      display: flex;
      width: 12rem;
      height: 3.5rem;
      border-radius: 15px;
      justify-content: space-evenly;
      font-size: 1.7rem; }
      .data-newForm__button--submit--icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--f1-color); }
      .data-newForm__button--submit:hover {
        cursor: pointer;
        background-color: var(--d2-color);
        color: var(--d3-color); }
      .data-newForm__button--submit:focus {
        outline: none;
        text-decoration: none;
        background-color: var(--d2-color); }

.data-editForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap; }
  .data-editForm__legend {
    align-items: baseline;
    letter-spacing: 0.4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    flex-wrap: wrap; }
    .data-editForm__legend__sub {
      font-size: 2.2rem;
      font-weight: 400;
      text-transform: lowercase;
      flex-wrap: wrap; }
  .data-editForm__link {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--d1-color);
    background-color: var(--f5-color);
    border-radius: 2px;
    text-transform: uppercase;
    margin: 0 1rem;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
    .data-editForm__link__icon {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--d3-color); }
    .data-editForm__link:hover {
      box-shadow: 0 6px 10px 0 rgba(34, 148, 229, 0.2), 0 6px 15px 0 rgba(34, 148, 229, 0.19);
      transform: translateY(-1px); }
    .data-editForm__link:active {
      transform: translateY(1px); }
  .data-editForm__content {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 85%; }
    .data-editForm__content__input {
      margin: 1rem 2rem;
      display: flex;
      flex-direction: row;
      align-self: center;
      width: 80%; }
      .data-editForm__content__input--hidden {
        display: none; }
      .data-editForm__content__input--label {
        width: 50%;
        margin-left: 10rem;
        padding: 0 1rem;
        font-size: 1.7rem;
        font-weight: 400; }
      .data-editForm__content__input--body {
        width: 50%;
        align-items: flex-start;
        display: flex;
        flex-direction: column; }
        .data-editForm__content__input--body--text {
          background-color: var(--d1-color);
          border: none;
          border-color: var(--f2-color);
          padding: 0.5rem 2rem;
          border-radius: 5px;
          width: 90%;
          height: 4rem;
          transition: all 0.2s;
          font-size: 1.7rem;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s; }
          .data-editForm__content__input--body--text:focus {
            outline: none;
            outline-offset: none;
            width: 100%;
            background-color: var(--f2-color); }
            .data-editForm__content__input--body--text:focus -webkit-input-placeholder {
              border-color: var(--f1-color);
              border: none;
              font-weight: 400; }
          .data-editForm__content__input--body--text:active {
            outline: none;
            border-color: var(--f1-color);
            border: none; }
          .data-editForm__content__input--body--text::placeholder {
            font-family: Quicksand; }
        .data-editForm__content__input--body--span {
          padding-top: 0.2rem;
          padding-right: 4rem;
          font-size: 1.5rem;
          font-family: Quicksand;
          margin-left: 2rem;
          text-transform: lowercase; }
  .data-editForm__button {
    margin: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 45%; }
    .data-editForm__button--submit {
      background-color: var(--d1-color);
      border: none;
      display: flex;
      width: 12rem;
      height: 3.5rem;
      border-radius: 15px;
      justify-content: space-evenly;
      font-size: 1.7rem;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
      .data-editForm__button--submit--icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--f1-color); }
      .data-editForm__button--submit:hover {
        cursor: pointer;
        background-color: var(--d2-color);
        color: var(--d3-color);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(-1px); }
      .data-editForm__button--submit:active {
        outline: none;
        border: none;
        text-decoration: none;
        background-color: var(--d2-color);
        transform: translateY(1px); }
      .data-editForm__button--submit:focus {
        outline: none; }

.detailed-info__content {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 95%; }
  .detailed-info__content__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    margin-left: 5rem; }
    .detailed-info__content__main__header {
      margin: 2rem 0;
      display: flex;
      flex-direction: column; }
      .detailed-info__content__main__header--main {
        display: flex;
        width: 100%;
        align-items: center;
        font-size: 2.2rem;
        color: var(--d1-color);
        background-color: var(--f6-color);
        border-radius: 2px;
        text-transform: capitalize;
        justify-content: center; }
      .detailed-info__content__main__header__buttons {
        display: flex;
        flex-direction: row;
        height: 3rem; }
        .detailed-info__content__main__header__buttons--delete-form {
          flex-grow: 1;
          display: flex;
          align-self: stretch; }
        .detailed-info__content__main__header__buttons--delbtn {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: none;
          font-size: 1.7rem;
          background-color: var(--f9-color);
          color: var(--f1-color);
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s; }
          .detailed-info__content__main__header__buttons--delbtn:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            text-transform: uppercase;
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1); }
          .detailed-info__content__main__header__buttons--delbtn:active {
            transform: translateY(1px); }
        .detailed-info__content__main__header__buttons--editbtn {
          text-decoration: none;
          flex-grow: 1;
          font-size: 1.7rem;
          text-align: center;
          background-color: var(--f9-color);
          color: var(--f1-color);
          text-transform: uppercase;
          height: 3rem;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s; }
          .detailed-info__content__main__header__buttons--editbtn:hover {
            background-color: var(--f5-color);
            color: var(--d3-color);
            box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1); }
          .detailed-info__content__main__header__buttons--editbtn:active {
            transform: translateY(1px); }
    .detailed-info__content__main__info {
      display: flex;
      align-self: center;
      padding: 0.3rem 0.5rem;
      margin: 0.1rem 0;
      width: 100%;
      font-size: 1.7rem; }
      .detailed-info__content__main__info:nth-child(2n) {
        background-color: var(--d1-color); }
      .detailed-info__content__main__info--label {
        width: 50%;
        font-weight: 700;
        margin-right: 1rem;
        height: 100%; }
  .detailed-info__content__ikainis {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    flex-grow: 1;
    width: 50%; }
    .detailed-info__content__ikainis__content {
      display: flex;
      flex-direction: row;
      font-size: 1.7rem; }
      .detailed-info__content__ikainis__content:not(:last-child) {
        margin-bottom: 2.5rem; }
      .detailed-info__content__ikainis__content__main {
        display: flex;
        flex-direction: row;
        background-color: var(--f2-color);
        padding: 0.3rem 0.5rem;
        margin: 0.1rem 0;
        width: 45%;
        align-self: center; }
        .detailed-info__content__ikainis__content__main--label {
          width: 40%;
          font-weight: 700;
          margin-right: 1rem;
          height: 100%; }
      .detailed-info__content__ikainis__content__sub {
        display: flex;
        flex-direction: row;
        background-color: var(--d3-color);
        padding: 0.3rem 0.5rem;
        margin: 0.1rem 0;
        width: 35%;
        align-self: center; }
        .detailed-info__content__ikainis__content__sub--label {
          width: 60%;
          font-weight: 700;
          margin-right: 1rem;
          height: 100%; }
    .detailed-info__content__ikainis__buttons {
      display: flex;
      flex-direction: column;
      width: 20%; }

.author {
  display: flex;
  font-size: 1.4rem;
  margin: 5rem;
  justify-content: flex-start; }
  .author--link {
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 1rem; }

.element.style {
  display: flex; }

.kellap-filter {
  display: flex;
  margin: 1rem 1rem;
  justify-content: space-between; }
  .kellap-filter__element {
    display: flex;
    flex-direction: column;
    align-self: center; }
    .kellap-filter__element__label {
      text-align: left;
      padding: 0 2rem;
      font-size: 1.7rem;
      font-weight: 400;
      text-transform: uppercase; }
    .kellap-filter__element__body {
      border: none;
      padding: 0.5rem 2rem;
      border-radius: 5px;
      font-size: 1.7rem;
      text-transform: capitalize;
      background-color: var(--f2-color); }
      .kellap-filter__element__body:focus {
        outline: none;
        outline-offset: none;
        background-color: var(--f2-color); }
        .kellap-filter__element__body:focus -webkit-input-placeholder {
          border-color: var(--f1-color);
          border: none;
          font-weight: 400; }
      .kellap-filter__element__body:active {
        outline: none;
        border-color: var(--f1-color);
        border: none; }
      .kellap-filter__element__body::placeholder {
        text-align: left;
        font-family: Quicksand; }

.kellap-data {
  display: flex;
  flex-direction: column; }
  .kellap-data__header {
    justify-content: space-around;
    display: flex;
    background-color: var(--f2-color);
    margin: 0 1rem;
    border-radius: 4px; }
    .kellap-data__header--ellement {
      width: 10%;
      text-align: center;
      margin: 0.5rem;
      font-size: 1.6rem; }
      .kellap-data__header--ellement--b {
        width: 5%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.6rem; }
      .kellap-data__header--ellement--a {
        width: 15%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.6rem; }
  .kellap-data__row {
    display: flex;
    justify-content: space-around; }
    .kellap-data__row:hover {
      background-color: var(--f3-color);
      color: var(--f4-color);
      box-shadow: 0 5px 10px 0 rgba(151, 166, 177, 0.3), 0 4px 10px 0 rgba(176, 178, 180, 0.1);
      transform: translateY(-1px); }
    .kellap-data__row__element {
      width: 10%;
      text-align: center;
      margin: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase; }
      .kellap-data__row__element--b {
        width: 5%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase; }
      .kellap-data__row__element--a {
        width: 15%;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase; }
      .kellap-data__row__element--link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        color: var(--f4-color); }
        .kellap-data__row__element--link:hover {
          border-radius: 4px;
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 3px 3px 0 rgba(34, 148, 229, 0.35), 0 3px 3px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
      .kellap-data__row__element--delform {
        display: flex;
        height: 100%; }
      .kellap-data__row__element--delbtn {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        flex-grow: 1;
        border: none;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--f4-color);
        background-color: inherit;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s; }
        .kellap-data__row__element--delbtn:hover {
          background-color: var(--f5-color);
          color: var(--d3-color);
          box-shadow: 0 3px 3px 0 rgba(34, 148, 229, 0.35), 0 3px 3px 0 rgba(34, 148, 229, 0.1);
          transform: translateY(-1px); }
        .kellap-data__row__element--delbtn:active {
          transform: translateY(1px); }

hr {
  margin: 0 1rem;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999; }

.kellap-detail {
  display: flex; }
  .kellap-detail__content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0; }
    .kellap-detail__content__pajamos {
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .kellap-detail__content__pajamos__header {
        font-weight: 400;
        font-size: 2.2rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        background-color: var(--f3-color);
        text-transform: uppercase;
        padding-left: 1rem; }
      .kellap-detail__content__pajamos--newItem {
        border-radius: 3px;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem 0;
        display: flex;
        background-color: var(--f5-color);
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s; }
        .kellap-detail__content__pajamos--newItem:hover {
          box-shadow: 0 6px 10px 0 rgba(34, 148, 229, 0.2), 0 6px 15px 0 rgba(34, 148, 229, 0.19);
          transform: translateY(-1px); }
        .kellap-detail__content__pajamos--newItem:active {
          transform: translateY(1px); }
      .kellap-detail__content__pajamos--link {
        display: flex;
        flex: 1;
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--d1-color);
        align-items: center; }
      .kellap-detail__content__pajamos__content {
        display: flex;
        flex-direction: column; }
        .kellap-detail__content__pajamos__content__header {
          background-color: var(--f2-color);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 1.7rem;
          font-weight: 700; }
        .kellap-detail__content__pajamos__content__body {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.7rem; }
          .kellap-detail__content__pajamos__content__body:hover {
            background-color: var(--f3-color); }
        .kellap-detail__content__pajamos__content__buttons {
          border-radius: 1px;
          display: flex;
          justify-content: flex-start;
          width: 100%;
          color: var(--f4-color); }
          .kellap-detail__content__pajamos__content__buttons--edit {
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: var(--f4-color);
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            flex-basis: 50%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
            .kellap-detail__content__pajamos__content__buttons--edit:hover {
              background-color: var(--f5-color);
              color: var(--d3-color);
              text-decoration: none;
              box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1); }
            .kellap-detail__content__pajamos__content__buttons--edit:active {
              transform: translateY(1px); }
          .kellap-detail__content__pajamos__content__buttons--del {
            display: flex;
            justify-content: center;
            flex-basis: 50%;
            font-size: 1.7rem;
            font-weight: 400;
            color: var(--f4-color); }
          .kellap-detail__content__pajamos__content__buttons--btn {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            border: none;
            font-size: 1.7rem;
            font-weight: 400;
            color: var(--f4-color);
            background-color: inherit;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
            .kellap-detail__content__pajamos__content__buttons--btn:hover {
              background-color: var(--f5-color);
              color: var(--d3-color);
              box-shadow: 0 5px 10px 0 rgba(34, 148, 229, 0.35), 0 4px 10px 0 rgba(34, 148, 229, 0.1); }
            .kellap-detail__content__pajamos__content__buttons--btn:active {
              transform: translateY(1px); }
    .kellap-detail__content__kuras {
      display: flex;
      flex-direction: column;
      background-color: grey;
      padding: 1rem; }

.element {
  margin: 0.1rem 0.1rem;
  justify-content: center; }

.element-a {
  width: 28%;
  margin: 0.1rem 0.1rem; }

.element-b {
  width: 8%;
  margin: 0.1rem 0.1rem; }

.element-c {
  width: 11%;
  margin: 0.1rem 0.1rem; }

.element-d {
  width: 15%;
  margin: 0.1rem 0.1rem; }

.kellap_new {
  display: flex;
  margin: 0.5rem 1rem;
  width: 80%; }
  .kellap_new__body {
    border: none;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase; }
  .kellap_new__btn {
    border: none;
    margin: 0 1rem;
    text-transform: uppercase; }
