:root {
  --f1-color: #007ee5;
  --f2-color: #7b8994;
  --f3-color: #47525d;
  --f4-color: #3d464d;
  --f5-color: #007EE5;
  --f6-color: #7B8994;
  --f7-color: #47525D;
  --f8-color: #3D464D;
  --f9-color: #f7f9fa;
  --d1-color: #eeeded;
  --d2-color: #6a7c8f;
  --d3-color: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--f1-color); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--f1-color);
  background-image: linear-gradient(to right bottom, var(--d1-color), var(--d2-color));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%; }

.container {
  width: 100%;
  background-color: var(--d3-color);
  box-shadow: var(--f2-color);
  min-height: 50rem; }

.header {
  font-size: 2.2rem;
  height: 6rem;
  background-color: var(--f9-color);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--f1-color); }

.content {
  display: flex; }

.sidebar {
  display: flex;
  background-color: var(--f9-color);
  flex: 0 0 19%;
  flex-direction: column;
  justify-content: space-between; }

.kellap-content {
  background-color: var(--d3-color);
  flex: 1;
  height: 80rem; }

.logo {
  height: 3.25rem;
  margin-left: 1rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--d1-color);
    border: none;
    border-color: var(--f2-color);
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -2.7rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--d3-color); }
      .search__input:focus::-webkit-input-placeholder {
        font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--d3-color); }
  .search__button {
    border: none;
    background-color: var(--d1-color); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--f1-color); }

.user-nav {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  color: var(--f1-color); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    padding: 0 .8rem;
    cursor: pointer;
    height: 100%; }
    .user-nav__icon-box:hover {
      background-color: var(--d2-color);
      color: #fff; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor; }
  .user-nav__link:link, .user-nav__link:visited {
    text-decoration: none;
    color: var(--f1-color); }
  .user-nav__link:hover {
    color: #fff; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--d1-color);
    transform: scaleY(0);
    transition: transform 0.15s, width 0.1s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--f2-color); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--f4-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    fill: var(--f2-color); }

.legal {
  font-size: 1.7rem;
  color: var(--f5-color);
  text-align: center;
  padding: 2.5rem; }
