<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Transporto valdymo modulis!</h1>
             <p>Padaliniai</p>
             <p>
                <a class="btn btn-primary btn-large" href="/pad/new">Naujas padalinys</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% allpads.forEach(function(allpads){ %>
            <div class="col-md-3 col-sm-6">
                   <div class="caption">
                       <h4><%= allpads.padkodas %></h4>
                       <h4><%= allpads.padpavadinimas %></h4>
                       <div>
                           <a class="btn btn-xs btn-warning" href="/pad/<%= allpads._id%>/edit">REDAGUOTI</a>
                           <form id="delete-form" action="/pad/<%=allpads._id%>?_method=DELETE" , method=POST>
                           <button class="btn btn-xs btn-danger">TRINTI</button>
                           </form>
                       </div>
                   </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
