<% include ../partials/header %>

    <div class="page-header">
        <h1>PADALINIAI
            <small>Sukurti naują, redaguoti, trinti</small>
        </h1>
        <p>
            <a class="btn btn-primary btn-large" href="/pad/new">Naujas padalinys</a>
        </p>
    </div>
    <div class="row">
        <% allpads.forEach(function(allpads){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= allpads.padkodas %>
                            </strong>
                        </h3>
                        <h4>
                            <%= allpads.padpavadinimas %>
                        </h4>
                        <p>
                            <a href="/pad/<%= allpads._id%>/edit" class="btn btn-primary" role="button">REDAGUOTI</a>
                            <form id="delete-form" action="/pad/<%=allpads._id%>?_method=DELETE" , method=POST>
                                <button class="btn btn-danger">TRINTI</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>