<% include ../partials/header %>

    <form action="/pad" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/pad"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į Padalinių sąrašą</a>
            <!-- Form Name -->
            <legend>Naujas Padalinys</legend>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">Text Input</label>
                <div class="col-md-4">
                    <input id="doc" name="doc" value="padalinys" type="text" placeholder="placeholder" class="form-control input-md">
                    <span class="help-block">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="padkodas">Padalinio kodas</label>
                <div class="col-md-4">
                    <input id="padkodas" name="padkodas" type="text" placeholder="Padalinio kodas" class="form-control input-md" required="">
                    <span class="help-block">Įrašykite padalinio kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="padpavadinimas">Padalinio pavadinimas</label>
                <div class="col-md-4">
                    <input id="padpavadinimas" name="padpavadinimas" type="text" placeholder="Padalinio pavadinimas" class="form-control input-md"
                        required="">
                    <span class="help-block">Įrašykite padalinio pavadinimą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></i>Sukurti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Sukurti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>