<% include partials/header %>
    <div class="page-header">
        <h1>TRANSPORTO VALDYMO MODULIS
            <p>
                <small>
                    Mes su malonumu padėsime Jums, nes mes norime jog laiką skirtumėte reikšmingiems darbams</small>
            </p>
        </h1>
    </div>
    <h4 class="center">Kelionės lapų apskaita:</h4>
    <a href="/kellap" class="landbtn btn btn-default btn-md">
        <i class="fa fa-file-text" aria-hidden="true"></i> Kelionės lapai</a>
    <h4 class="center">Išrašyti naują kelionės lapą:</h4>
    <a href="/kellap/newkr" class="landbtn btn btn-default btn-md">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Naujas krov lapas </a>
    <a href="/kellap/newmech" class="landbtn btn btn-default btn-md">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Naujas mech lapas </a>
    <a href="/kellap/newlen" class="landbtn btn btn-default btn-md">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Naujas lengv lapas </a>
    <a href="/kellap/" class="landbtn btn btn-default btn-md">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Naujas m.m. lapas </a>
    <hr>
    <h4 class="center">Transporto priemonių sąrašai:</h4>
    <a href="/autokrov" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list" aria-hidden="true"></i> Krovininiai </a>
    <a href="/automech" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list" aria-hidden="true"></i> Mechanizmai </a>
    <a href="/autolen" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list" aria-hidden="true"></i> Lengvieji </a>
    <a href="/automm" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list" aria-hidden="true"></i> Kiti </a>
    <a href="/autonuoma" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list" aria-hidden="true"></i> Nuoma </a>
    <hr>
    <h4 class="center">Duomenys: </h4>
    <a href="/pad" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Padaliniai </a>
    <a href="/dv" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Darbų vadovai </a>
    <a href="/vair" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Vairuotojai </a>
    <a href="/obj" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Objektai </a>
    <a href="/trrus" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Transporto rušis </a>
    <a href="/trtip" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Transporto tipas </a>
    <a href="/kurrus" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Kuro rūšys </a>
    <a href="/kuruzp" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Kuro šaltiniai </a>
    <a href="/darbrus" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> darbo rūšis </a>
    <a href="/imones" class="landbtn btn btn-default btn-md">
        <i class="fa fa-database" aria-hidden="true"></i> Įmonės </a>
    <hr>
    <h4 class="center">Ataskaitos:</h4>
    <a href="/main" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Kuro ataskaita </a>
    <a href="/main" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Pajamų ataskaita </a>
    <a href="/main" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Ridų ataskaita </a>
    <a href="/main" class="landbtn btn btn-default btn-md">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Tabeliai </a>
    <!-- <a href="/test" class="landbtn btn btn-default btn-md">
                <i class="fa fa-list-alt" aria-hidden="true"></i> TEST </a> -->
    <hr>
    </div>

    <!--<script src="scripts/background.js"></script>-->

    <% include partials/footer %>