<% include ../partials/header %>

    <form action="/darbrus/<%= darbrus._id %>?_method=PUT" method="POST" class="data-editForm">
        <legend class="data-editForm__legend">Redaguoti darbo rūšį
        </legend>
        <a href="/darbrus" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Kuro rūšių sąrašą</a>
        </a>
        <!-- Form Name -->
        <div class="data-editForm__content">
            <!-- Text input-->
            <div class="data-editForm__content__input--hidden">
                <label class="data-editForm__content__input--label" for="darbrus[doc]">darbrus</label>
                <div class="data-editForm__content__input--body">
                    <input id="darbrus[doc]" name="darbrus[doc]" type="text" placeholder="darbrus" class="data-editForm__content__input--body--text"
                        value="darbrus">
                    <span class="data-editForm__content__input--body--span">darbrus</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="darbrus[darbrus]">Darbo rūšis</label>
                <div class="data-editForm__content__input--body">
                    <input id="darbrus" name="darbrus[darbrus]" type="text" placeholder="Darbo rūšis" class="data-editForm__content__input--body--text"
                        value="<%= darbrus.darbrus %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite darbo rūšį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="darbrus[vnt]">Mato vienetas</label>
                <div class="data-editForm__content__input--body">
                    <input id="darbrus[vnt]" name="darbrus[vnt]" type="text" placeholder="Mato vienetas" class="data-editForm__content__input--body--text"
                        value="<%= darbrus.vnt %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite mato vienetą, Val, Mėn, tkm, d ...</span>
                </div>
            </div>
            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Redaguoti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>