<% include ../partials/header %>

    <form action="/darbrus/<%= darbrus._id %>?_method=PUT" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/darbrus">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į Kuro rūšių sąrašą </a>
            <!-- Form Name -->
            <legend>Redaguoti darbo rūšį</legend>
            //
            <hr>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="darbrus[doc]">darbrus</label>
                <div class="col-md-4">
                    <input id="darbrus[doc]" name="darbrus[doc]" type="text" placeholder="darbrus" class="form-control input-md" value="darbrus">
                    <span class="help-block">darbrus</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="darbrus[darbrus]">Darbo rūšis</label>
                <div class="col-md-4">
                    <input id="darbrus" name="darbrus[darbrus]" type="text" placeholder="Darbo rūšis" class="form-control input-md" value="<%= darbrus.darbrus %>">
                    <span class="help-block">Įrašykite darbo rūšį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="darbrus[vnt]">Mato vienetas</label>
                <div class="col-md-4">
                    <input id="darbrus[vnt]" name="darbrus[vnt]" type="text" placeholder="Mato vienetas" class="form-control input-md" value="<%= darbrus.vnt %>">
                    <span class="help-block">Įrašykite mato vienetą, Val, Mėn, tkm, d ...</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"> Redaguoti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info">
                        <i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>