<% include ../partials/header %>
    <div class="page-header">
        <h1>DARBO RŪŠYS
            <small>Sukurti naują, redaguoti, trinti</small>
        </h1>
        <p>
            <a class="btn btn-primary btn-large" href="/darbrus/new">Nauja darbo rūšis</a>
        </p>
    </div>
    <div class="row">
        <% alldarbrus.forEach(function(alldarbrus){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>
                            <strong>
                                <%= alldarbrus.darbrus %>
                            </strong>
                        </h3>
                        <h4>
                            Mato vienetas :
                            <%= alldarbrus.vnt %>
                        </h4>
                        <p>
                            <a href="/darbrus/<%= alldarbrus._id%>/edit" class="btn btn-primary" role="button">REDAGUOTI</a>
                            <form id="delete-form" action="/darbrus/<%=alldarbrus._id%>?_method=DELETE" , method=POST>
                                <button class="btn btn-danger">TRINTI</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>