<% include ../partials/header %>
    <form action="/darbrus" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/darbrus"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į Kuro rūšių sąrašą </a>
            <!-- Form Name -->
            <legend>Nauja darbo rūšis</legend>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">darbrus</label>
                <div class="col-md-4">
                    <input id="doc" name="doc" type="text" placeholder="darbrus" class="form-control input-md" value="darbrus">
                    <span class="help-block">darbrus</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="darbrus">Darbo rūšis</label>
                <div class="col-md-4">
                    <input id="darbrus" name="darbrus" type="text" placeholder="Darbo rūšis" class="form-control input-md">
                    <span class="help-block">Įrašykite darbo rūšį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vnt">Mato vienetas</label>
                <div class="col-md-4">
                    <input id="vnt" name="vnt" type="text" placeholder="Mato vienetas" class="form-control input-md">
                    <span class="help-block">Įrašykite mato vienetą, Val, Mėn, tkm, d ...</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></i>Sukurti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Sukurti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>