<% include ../partials/header %>
    <form action="/darbrus" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Nauja darbo rūšis</legend>
        <a href="/darbrus" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Kuro rūšių sąrašą</a>
        </a>
        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">>
                <label class="data-newForm__content__input--label" for="doc">darbrus</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="doc" type="text" placeholder="darbrus" class="data-newForm__content__input--body--text" value="darbrus">
                    <span class="data-newForm__content__input--body--span">darbrus</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="darbrus">Darbo rūšis</label>
                <div class="data-newForm__content__input--body">
                    <input id="darbrus" name="darbrus" type="text" placeholder="Darbo rūšis" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite darbo rūšį</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="vnt">Mato vienetas</label>
                <div class="data-newForm__content__input--body">
                    <input id="vnt" name="vnt" type="text" placeholder="Mato vienetas" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite mato vienetą, Val, Mėn, tkm, d ...</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>