<% include ../partials/header %>
    <div class="data">
        <div class="data__page-header--main">TRANSPORTO PR. TIPAS
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/trtip/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-publish">
                </svg>Naujas transporto priemonės tipas</a>
        </p>
    </div>
    <div class="data__page-data">
        <% alltrtip.forEach(function(alltrtip){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%= alltrtip.trtipas %>
                </div>
                <% if(currentUser && alltrtip.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/trtip/<%= alltrtip._id%>/edit"> REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/trtip/<%=alltrtip._id%>?_method=DELETE" , method=POST>
                            <button class="data__page-data__main-tab--buttons--btn">
                                TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>
    <% include ../partials/footer %>