<% include ../partials/header %>

    <form action="/trtip" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Naujas transporto priemonės tipas</legend>
        <a href="/trtip" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į transporto priemonių sąrašą </a>

        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="doc">trantipas</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="doc" type="text" placeholder="trantipas" class="data-newForm__content__input--body--text" value="trantipas">
                    <span class="data-newForm__content__input--body--span">trantipas</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="trtipas">Transporto priemonės tipas</label>
                <div class="data-newForm__content__input--body">
                    <input id="trtipas" name="trtipas" type="text" placeholder="Transporto priemonės tipas" class="data-newForm__content__input--body--text"
                        required="">
                    <span class="data-newForm__content__input--body--span">Įrašykite transporto priemonės tipą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>