<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Iportuojamos imones </h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/imones/json" method="POST">
                    <button class="btn btn-lg btn-primary btn-block">Sukurti!</button>
            </div>
            </form>
            <a href="/imones"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal i Kuro rusiu sarasa </a>
        </div>
    </div>
    </div>
    <% include ../partials/footer %>