<% include ../partials/header %> 
<script type="text/javascript" src='../js/table.js'></script>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>marke</th>
                <th>modelis</th>
                <th>valstnr</th>
                <th>ipagvair</th>
                <th>inventnr</th>
                <th>data</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>marke</th>
                <th>modelis</th>
                <th>valstnr</th>
                <th>ipagvair</th>
                <th>inventnr</th>
                <th>data</th>
            </tr>
        </tfoot>
    </table>
<% include ../partials/footer %>
  
