<% include ../partials/header %>
    <form action="/trtip" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/trtip">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į transporto priemonių sąrašą </a>
            <!-- Form Name -->
            <legend>Naujas transporto priemonės tipas</legend>
            <hr>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">trantipas</label>
                <div class="col-md-4">
                    <input id="doc" name="doc" type="text" placeholder="trantipas" class="form-control input-md" value="trantipas">
                    <span class="help-block">trantipas</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="trtipas">Transporto priemonės tipas</label>
                <div class="col-md-4">
                    <input id="trtipas" name="trtipas" type="text" placeholder="Transporto priemonės tipas" class="form-control input-md" required="">
                    <span class="help-block">Įrašykite transporto priemonės tipą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit">Sukurti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info">Sukurti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>