<% include ../partials/header %>
    <form action="/imones" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Nauja Įmonė</legend>
        <a href="/imones" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Įmonių katalogą</a>
        </a>
        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="doc">imone</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="doc" type="text" placeholder="imone" class="data-newForm__content__input--body--text" value="imone">
                    <span class="data-newForm__content__input--body--span">imone</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="imonessutrumpkodas">Kodinis pavadinimas</label>
                <div class="data-newForm__content__input--body">
                    <input id="imonessutrumpkodas" name="imonessutrumpkodas" type="text" placeholder="Kodinis pavadinimas" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite trumpą įimonės pavadinimą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="imonespavadinimas">Pilnas įmonės pavadinimas</label>
                <div class="data-newForm__content__input--body">
                    <input id="imonespavadinimas" name="imonespavadinimas" type="text" placeholder="Pilnas įmonės pavadinimas" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite pilną įmonės pavadinimą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="imonesimkodas">Registracijos kodas, įk.</label>
                <div class="data-newForm__content__input--body">
                    <input id="imonesimkodas" name="imonesimkodas" type="text" placeholder="Registracijos kodas, įk." class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite registracijos kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="imonespvmkodas">PVM kodas</label>
                <div class="data-newForm__content__input--body">
                    <input id="imonespvmkodas" name="imonespvmkodas" type="text" placeholder="PVM kodas" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite PVM kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="imonesadresas">Adresas</label>
                <div class="data-newForm__content__input--body">
                    <input id="imonesadresas" name="imonesadresas" type="text" placeholder="Adresas" class="data-newForm__content__input--body--text">
                    <span class="data-newForm__content__input--body--span">Įrašykite įmonės adresą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>