<% include ../partials/header %>
    <div class="data">
        <div class="data__page-header--main">KURO RŪŠYS
            <small class="data__page-header--second">Sukurti naują, redaguoti, trinti</small>
        </div>
        <p class="data__page-header--new-item">
            <a class="data__page-header--link" href="/kurrus/new">
                <svg class="data__page-header--icon">
                    <use xlink:href="img/sprite.svg#icon-new-message">
                </svg>Nauja kuro rūšis</a>
        </p>
    </div>
    <div class="data__page-data">
        <% allkurrus.forEach(function(allkurrus){ %>
            <div class="data__page-data__main-tab">
                <div class="data__page-data__main-tab--header">
                    <%= allkurrus.kurorusiskodas %>
                </div>
                <div class="data__page-data__main-tab--content">
                    <%= allkurrus.kurrusis %>
                </div>
                <% if(currentUser && allkurrus.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="data__page-data__main-tab--buttons">
                        <a class="data__page-data__main-tab--buttons--edit" href="/kurrus/<%= allkurrus._id%>/edit">REDAGUOTI</a>
                        <form class="data__page-data__main-tab--buttons--del" action="/kurrus/<%=allkurrus._id%>?_method=DELETE" , method=POST>
                            <button class="data__page-data__main-tab--buttons--btn">
                                TRINTI</button>
                        </form>
                    </div>
                    <% }%>
            </div>
            <% }); %>
    </div>

    <% include ../partials/footer %>