<% include ../partials/header %>
    <form action="/kurrus" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/kurrus"><i class="fa fa-arrow-left" aria-hidden="true"></i> Atgal į Kuro rūšių sąrašą </a>
            <!-- Form Name -->
            <legend>Nauja kuro rūšis</legend> <hr>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">kurorusis</label>
                <div class="col-md-4">
                    <input id="doc" name="doc" type="text" placeholder="kurorusis" class="form-control input-md" value="kurorusis">
                    <span class="help-block">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="kurorusiskodas">Kuro rūšies kodas</label>
                <div class="col-md-4">
                    <input id="kurorusiskodas" name="kurorusiskodas" type="text" placeholder="Kodas" class="form-control input-md">
                    <span class="help-block">Įrašykite kuro rūšies kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="kurrusis">Pavadinimas</label>
                <div class="col-md-4">
                    <input id="kurrusis" name="kurrusis" type="text" placeholder="Pavadinimas" class="form-control input-md">
                    <span class="help-block">Įrašykite kuro rūšies pavadinimą</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></i>Sukurti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Sukurti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>