<div class="container-fluid">
    <form onsubmit="return false" oninput="    totalamount.value = Math.round(kiekis.value * valandos.value);">
        <div class=''>
            Kiekis <input name="kiekiss" id="kiekis" type="number"> Valandos <input name="valandoss" id="valandos" type="number"> Total amount <output name="totalamount" id="totalamount" for="kiekis valandos"></output>
        </div>
    </form>

    <br></br>
    <hr>