<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Transporto valdymo modulis!</h1>
                <p>Transporto tipas</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/trtip/new"><i class="fa fa-plus" aria-hidden="true"></i> Nauja transporto rusis</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% alltrtip.forEach(function(alltrtip){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="caption">
                        <h4>
                            <%= alltrtip.trtipas %>
                        </h4>
                        <div>
                            <hr>
                            <a class="btn   btn-warning" href="/trtip/<%= alltrtip._id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> REDAGUOTI</a>
                            <hr>
                            <form id="delete-form" action="/trtip/<%=alltrtip._id%>?_method=DELETE" , method=POST>
                                <button class="btn   btn-danger"><i class="fa fa-trash-o"></i>  TRINTI</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <% include ../partials/footer %>