<% include ../partials/header %>
    <form action="/dv" method="POST" class="data-newForm">
        <legend class="data-newForm__legend">Naujas Darbų Vadovas</legend>
        <a href="/dv" class="data-newForm__link">
            <svg class="data-newForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Darbų Vadovų sąrašą </a>
        <!-- Form Name -->
        <div class="data-newForm__content">
            <!-- Text input-->
            <div class="data-newForm__content__input--hidden">
                <label class="data-newForm__content__input--label" for="doc">darbvad</label>
                <div class="data-newForm__content__input--body">
                    <input id="doc" name="dv[doc]" type="text" placeholder="darbvad" class="data-newForm__content__input--body--text" value="darbvad">
                    <sppan class="data-newForm__content__input--body--span">darbvad</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="dv[dvVardasPav]">Darbų vadovo vardas pavardė</label>
                <div class="data-newForm__content__input--body">
                    <input id="dv[dvVardasPav]" name="dv[dvVardasPav]" type="text" placeholder="Darbų vadovo vardas pavardė" class="data-newForm__content__input--body--text"
                        required="">
                    <span class="data-newForm__content__input--body--span">Darbų vadovo vardas pavardė</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="dv[dvkodas]">Darbų vadovo kodas</label>
                <div class="data-newForm__content__input--body">
                    <input id="dv[dvkodas]" name="dv[dvkodas]" type="text" placeholder="Darbų vadovo kodas" class="data-newForm__content__input--body--text"
                        required="">
                    <span class="data-newForm__content__input--body--span">Darbų vadovo kodas</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="data-newForm__content__input">
                <label class="data-newForm__content__input--label" for="dv[ipadkodas]">Darbų vadovo padalinys</label>
                <div class="data-newForm__content__input--body">
                    <select id="dv[ipadkodas]" name="dv[ipadkodas]" class="data-newForm__content__input--body--text">
                        <% pad.forEach(function(pad){ %>
                            <option class="data-newForm__content__input--body--text" value="<%= pad.padkodas %>">
                                <%= pad.padkodas %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Sukurti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>