<% include ../partials/header %>
    <form action="/dv" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/dv">Atgal į Darbų Vadovų sąrašą </a>
            <!-- Form Name -->
            <legend>Naujas Darbų Vadovas</legend>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">darbvad</label>
                <div class="col-md-4">
                    <input id="doc" name="dv[doc]" type="text" placeholder="darbvad" class="form-control input-md" value="darbvad">
                    <span class="help-block">darbvad</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[dvVadasPav]">Darbu vadovo vardas pavarde</label>
                <div class="col-md-4">
                    <input id="dv[dvVadasPav]" name="dv[dvVadasPav]" type="text" placeholder="Darbu vadovo vardas pavarde" class="form-control input-md">
                    <span class="help-block">Darbu vadovo vardas pavarde</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[dvkodas]">Darbu vadovo kodas</label>
                <div class="col-md-4">
                    <input id="dv[dvkodas]" name="dv[dvkodas]" type="text" placeholder="Darbu vadovo kodas" class="form-control input-md">
                    <span class="help-block">Darbu vadovo kodas</span>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dv[ipadkodas]">Pasirinkite Padlinį</label>
                <div class="col-md-4">
                    <select id="dv[ipadkodas]" name="dv[ipadkodas]" class="form-control">
                        <% pad.forEach(function(pad){ %>
                            <option value="<%= pad.padkodas %>">
                                <%= pad.padkodas %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">Sukurti</label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-info">Sukurti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>