<% include ../partials/header %>
    <form action="/kuruzp/<%= kuruzp._id %>?_method=PUT" method="POST" class="form-horizontal">
        <fieldset>
            <a href="/kuruzp">Atgal į Kuro šaltinių sąrašą </a>
            <!-- Form Name -->
            <legend>Redaguoto Kuro šaltinį</legend>

            <!-- Text input-->
            <div class="form-group" hidden>
                <label class="col-md-4 control-label" for="doc">kuruzp[doc]</label>
                <div class="col-md-4">
                    <input id="doc" name="kuruzp[doc]" type="text" placeholder="placeholder" class="form-control input-md" value="kurosaltinis">
                    <span class="help-block">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="kuruzp[kurouzpkodas]">Trumpas kodas</label>
                <div class="col-md-4">
                    <input id="kurouzpkodas" name="kuruzp[kurouzpkodas]" type="text" placeholder="Trumpas kodas" class="form-control input-md" value="<%= kuruzp.kurouzpkodas %>">
                    <span class="help-block">Įrašykite trumpą kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="kuruzp[kurouzppav]">Tiekėjas</label>
                <div class="col-md-4">
                    <input id="kurouzppav" name="kuruzp[kurouzppav]" type="text" placeholder="Tiekėjas" class="form-control input-md" value="<%= kuruzp.kurouzppav %>">
                    <span class="help-block">Įrašykite tiekėją</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="kuruzp[kurouzpkortnr]">Kortelės numeris</label>
                <div class="col-md-4">
                    <input id="kurouzpkortnr" name="kuruzp[kurouzpkortnr]" type="text" placeholder="Kortelės numeris" class="form-control input-md"value="<%= kuruzp.kurouzpkortnr %>">
                    <span class="help-block">Įrašykite kortelės numerį paskutinius 4 skaičius</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit">Redaguoti</label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-info">Redaguoti</button>
                </div>
            </div>

        </fieldset>
    </form>
    <% include ../partials/footer %>