<% include ../partials/header %>

    <form action="/kuruzp/<%= kuruzp._id %>?_method=PUT" method="POST" class="data-editForm">
        <legend class="data-editForm__legend">Redaguoto Kuro šaltinį</legend>
        <a href="/kuruzp" class="data-editForm__link">
            <svg class="data-editForm__link__icon">
                <use xlink:href="/img/sprite.svg#icon-back"></use>
            </svg> Atgal į Kuro šaltinių sąrašą</a>
        </a>

        <!-- Form Name -->
        <div class="data-editForm__content">
            <!-- Text input-->
            <div class="data-editForm__content__input--hidden">
                <label class="data-editForm__content__input--label" for="doc">kuruzp[doc]</label>
                <div class="data-editForm__content__input--body">
                    <input id="doc" name="kuruzp[doc]" type="text" placeholder="placeholder" class="data-editForm__content__input--body--text"
                        value="kurosaltinis">
                    <span class="data-editForm__content__input--body--span">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="kuruzp[kurouzpkodas]">Trumpas kodas</label>
                <div class="data-editForm__content__input--body">
                    <input id="kurouzpkodas" name="kuruzp[kurouzpkodas]" type="text" placeholder="Trumpas kodas" class="data-editForm__content__input--body--text"
                        value="<%= kuruzp.kurouzpkodas %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite trumpą kodą</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="kuruzp[kurouzppav]">Tiekėjas</label>
                <div class="data-editForm__content__input--body">
                    <input id="kurouzppav" name="kuruzp[kurouzppav]" type="text" placeholder="Tiekėjas" class="data-editForm__content__input--body--text"
                        value="<%= kuruzp.kurouzppav %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite tiekėją</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="data-editForm__content__input">
                <label class="data-editForm__content__input--label" for="kuruzp[kurouzpkortnr]">Kortelės numeris</label>
                <div class="data-editForm__content__input--body">
                    <input id="kurouzpkortnr" name="kuruzp[kurouzpkortnr]" type="text" placeholder="Kortelės numeris" class="data-editForm__content__input--body--text"
                        value="<%= kuruzp.kurouzpkortnr %>">
                    <span class="data-editForm__content__input--body--span">Įrašykite kortelės numerį paskutinius 4 skaičius</span>
                </div>
            </div>

            <!-- Button -->
            <div class="data-editForm__button">
                <button name="submit" class="data-editForm__button--submit ">
                    <svg class="data-editForm__button--submit--icon">
                        <use xlink:href="/img/sprite.svg#icon-new-message">
                    </svg> Redaguoti
                </button>
            </div>
        </div>
    </form>
    <% include ../partials/footer %>